@model YellowPage.Models.RequestClass

@{ ViewBag.Title = "RequestBusiness";
    Layout = "~/Views/Shared/_Layout.cshtml"; }



<head>
    <link href="~/Content/css/navigation.css" rel="stylesheet" />
    <link href="~/Content/css/FORM.css" rel="stylesheet" />
    <style>
        .main-header {
            margin-top: 20px;
            text-align: center;
        }

        .main-table {
            margin-top: 20px;
            text-align: center;
            margin-bottom: 300px;
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<h2 class="main-header">RequestBusiness</h2>


<div class="main-table">


    <fieldset>

        <img class="attach" src="~/Content/images/attachments-attach-svgrepo-com.svg" />

        @using (Html.BeginForm("RequestBusiness", "Request", FormMethod.Post))
        {
<table>
    <tr>
        <td>@Html.LabelFor(model => model.Company)</td>
        <td>@Html.TextBoxFor(model => model.Company)</td>
    </tr>
    <tr>
        <td></td>
        <td>
            @Html.ValidationMessageFor(model => model.Company, null, new { @class = "text text-danger" })
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Category)</td>
        <td>@Html.TextBoxFor(model => model.Category)</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ValidationMessageFor(model => model.Category, null, new { @class = "text text-danger" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Address)</td>
        <td>@Html.TextBoxFor(model => model.Address)</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ValidationMessageFor(model => model.Address, null, new { @class = "text text-danger" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Phone)</td>
        <td>@Html.TextBoxFor(model => model.Phone)</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ValidationMessageFor(model => model.Phone, null, new { @class = "text text-danger" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Description)</td>
        <td>@Html.TextBoxFor(model => model.Description)</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ValidationMessageFor(model => model.Description, null, new { @class = "text text-danger" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Website)</td>
        <td>@Html.TextBoxFor(model => model.Website)</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ValidationMessageFor(model => model.Website, null, new { @class = "text text-danger" })</td>
    </tr>



    <tr>
        <td></td>
        <td>
            <table>
                <tr>

                    <td>
                        <input type="submit" value="Register" />
                    </td>
                    <td>
                        <input type="reset" value="Reset" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>@Html.ValidationMessage("Error", null, new { @class = "text text-danger" })</td>
    </tr>
</table>}

    </fieldset>

</div>