@model IEnumerable<YellowPage.DBModel.Suggestion>

@{
    ViewBag.Title = "SuggestionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/css/navigation.css" rel="stylesheet" />

    <style>
        .main-header {
            margin-top: 20px;
            text-align: center;
        }

        .main-table {
            margin-top: 20px;
            text-align: center;
            margin-bottom: 300px;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<div class="topnav">
    <a class="active" href="@Url.Action("AddBusiness", "Business")"><span>Add Business</span></a>
    <a href="@Url.Action("ViewRequests", "Request")"><span>View Requests</span></a>
    <a href="@Url.Action("ReportDetail", "Report")"><span>View Reports</span></a>
    <a href="@Url.Action("ReviewDetail", "Review")"><span>View Reviews</span></a>
    <a href="@Url.Action("AccountDetail", "Account")"><span>View Users</span></a>
    
    <a href="@Url.Action("BusinessDetail", "Com")"><span>View Businesses</span></a>
</div>



<h2 class="main-header">SuggestionDetail</h2>

<div class="main-table">
   
    <table class="table">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suggestion1)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suggestion1)
                </td>
                <td>
                    @Html.ActionLink("Update", "UpdateSuggestion", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "DeleteSuggestion", new { id = item.UserId })
                </td>
            </tr>
        }

    </table>
</div>
