@if (Session["Email"] == null)
{


    <div class="user_option">
        <a href='@Url.Action("Register", "Account")' class="log-in"> LOG IN </a>

    </div>


}

else if ((string)Session["Email"] == "Admin")
{
    <div class="user_option">
        <a href='@Url.Action("AddBusiness", "Business")' class="log-in">Admin Panel</a>
        <a href='@Url.Action("Logout", "Account")' class="log-in">Logout </a>

    </div>

}
else
{
<div class="user_option">
    <a href='@Url.Action("ProvideReview", "Review")' class="log-in">User Panel </a>
    <a href='@Url.Action("Logout", "Account")' class="log-in">Logout </a>
    @* <li>@Html.ActionLink("Hello! " + Session["Email"], "User", "Account", null, null)</li>
        <li>@Html.ActionLink("Logout", "Logout", "Account", null, null)</li>  *@
</div>
        }

