@model IEnumerable<YellowPage.DBModel.Vehicle>

@{
    ViewBag.Title = "ViewVehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .main-header {
        margin-top: 20px;
        text-align: center;
    }

    .main-table {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 300px;
    }
</style>

<h2 class="main-header"> ViewVehicles</h2>
<div class="main-table">


    

    <table class="table">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                </td>
            </tr>
        }

    </table>
    </div>